.taille{
    font-size: 1.3rem;
}
.titres_rubrique{
    font-size: 2rem;
}
.nos_rubriques{
    color: #00B074;
}

/* .page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../images/carousel-1.jpg) center center no-repeat;
    background-size: cover;
} */
